{% liquid
assign pop-heading-2 = block.pop-heading-2

assign image_1 = block.image_1
assign img-1_sub = block.icon-1_sub
assign img-1_text = block.icon-1_text

assign image_2 = block.image_2
assign img-2_sub = block.icon-2_sub
assign img-2_text = block.icon-2_text

assign image_3 = block.image_3
assign img-3_sub = block.icon-3_sub
assign img-3_text = block.icon-3_text

assign box-1_text = block.box-1_text
assign box-1_gifts = block.box-1_gifts

assign box-2_text = block.box-2_text
assign box-2_gifts = block.box-2_gifts

assign box-3_text = block.box-3_text
assign box-3_gifts = block.box-3_gifts

assign icon_width = 80
assign icon_width_retina = icon_width | times: 2
assign icon_sizes = icon_width | append: 'px'
assign icon_widths = icon_width | append: ', ' | append: icon_width_retina
%}

<p class="heading-size-{{ block.pop-heading_size }} member-benefits__text">{{ block.pop-heading }}</p>
{% comment %}
    Renders Icons: Each Div checks if img is present and renders
{% endcomment %}
<div class="grid grid-membership-icons__container">
{% comment %}
    Icon 1
{% endcomment %}
    <div class="member-icon_container icon__animated{% if image != blank %} icon__animated--image{% endif %}">

    {% liquid
    if image_1 != blank

    render 'image' image: image_1, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, loading: loading
    endif
    %}
    {% comment %}
        Subheading
    {% endcomment %}
    <p class="icon_sub-custom heading-size-{{ block.icon-sub_size }}">{{ img-1_sub }}</p>

    {% comment %}
        Text
    {% endcomment %}
    <p class="default-font-custom">{{ img-1_text }}</p>
    </div>

{% comment %}
    Icon 2
{% endcomment %}
<div class="member-icon_container icon__animated{% if image != blank %} icon__animated--image{% endif %}">

    {% liquid
    if image_2 != blank

    render 'image' image: image_2, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, loading: loading
    endif
    %}
{% comment %}
    Subheading
{% endcomment %}
<p class="icon_sub-custom heading-size-{{ block.icon-sub_size }}">{{ img-2_sub }}</p>

    {% comment %}
        Text
    {% endcomment %}
    <p class="default-font-custom">{{ img-2_text }}</p>
</div>
{% comment %}
    Icon 3
{% endcomment %}
<div class="member-icon_container icon__animated{% if image != blank %} icon__animated--image{% endif %}">
    {% liquid
    if image_3 != blank

    render 'image' image: image_3, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, loading: loading
    endif
    %}
    {% comment %}
    Subheading
{% endcomment %}
<p class="icon_sub-custom heading-size-{{ block.icon-sub_size }}">{{ img-3_sub }}</p>

    {% comment %}
        Text
    {% endcomment %}
    <p class="default-font-custom">{{ img-3_text }}</p>
</div>
</div>
{% comment %}
    Membership Boxes
{% endcomment %}
<div class="member-tiers-wrapper-custom">
    <p style="margin-bottom: 0" class="heading-size-{{ block.pop-heading_size }} member-benefits__text">{{ pop-heading-2 }}</p>
    
    <div class="member-tiers_container">
        <div style="background-color: #f0f0f0" class="member-single-tier_container">
            <div class="member-tier_text">
                <p style="margin: 0;" class="heading-size-{{ block.pop-heading_size }}">{{ box-1_text }}</p>
                <p>Month 1-6</p>
            </div>
            <div class="member-tier_text member-tier_secondary_text">
                <p style="margin: 0;">{{ box-1_gifts }}</p>
            </div>
        </div>
    </div>
    <div class="member-tiers_container">
        <div style="background-color: #B3B3B3" class="member-single-tier_container">
            <div class="member-tier_text">
                <p style="margin: 0;" class="heading-size-{{ block.pop-heading_size }}">{{ box-2_text }}</p>
                <p>Month 7-12</p>
            </div>
            <div class="member-tier_text member-tier_secondary_text">
                <p style="margin: 0;">{{ box-2_gifts }}</p>
            </div>
        </div>
    </div>
    <div class="member-tiers_container">
        <div style="background-color: #000" class="member-single-tier_container">
            <div style="color: white !important;" class="member-tier_text">
                <p style="margin: 0;" class="heading-size-{{ block.pop-heading_size }}">{{ box-3_text }}</p>
                <p>After 12 Months</p>
            </div>
            <div style="color: white !important;" class="member-tier_text member-tier_secondary_text">
                <p style="margin: 0;">{{ box-3_gifts }}</p>
            </div>
        </div>
    </div>
    
</div>