{% liquid
assign image_1 = block.image_1
assign img-1_sub = block.icon-1_sub

assign image_2 = block.image_2
assign img-2_sub = block.icon-2_sub

assign image_3 = block.image_3
assign img-3_sub = block.icon-3_sub

assign icon_width = 80
assign icon_width_retina = icon_width | times: 2
assign icon_sizes = icon_width | append: 'px'
assign icon_widths = icon_width | append: ', ' | append: icon_width_retina
%}

<p class="heading-size-{{ block.pop-heading_size }} member-benefits__text">{{ block.pop-heading }}</p>
{% comment %}
    Renders Icons: Each Div checks if img is present and renders
{% endcomment %}
<div class="grid grid-membership-icons__container">
{% comment %}
    Icon 1
{% endcomment %}
    <div style="flex-direction: column" class="icon__animated{% if image != blank %} icon__animated--image{% endif %}">

    {% liquid
    if image_1 != blank

    render 'image' image: image_1, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, loading: loading
    endif
    %}
    {% comment %}
        Subheading
    {% endcomment %}
    <p class="icon_sub-custom heading-size-{{ block.icon-sub_size }}">{{ img-1_sub }}</p>

    </div>
{% comment %}
    Icon 2
{% endcomment %}
<div style="flex-direction: column" class="icon__animated{% if image != blank %} icon__animated--image{% endif %}">

    {% liquid
    if image_2 != blank

    render 'image' image: image_2, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, loading: loading
    endif
    %}
{% comment %}
    Subheading
{% endcomment %}
<p class="icon_sub-custom heading-size-{{ block.icon-sub_size }}">{{ img-2_sub }}</p>

</div>
{% comment %}
    Icon 3
{% endcomment %}
<div style="flex-direction: column" class="icon__animated{% if image != blank %} icon__animated--image{% endif %}">
    {% liquid
    if image_3 != blank

    render 'image' image: image_3, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, loading: loading
    endif
    %}
    {% comment %}
    Subheading
{% endcomment %}
<p class="icon_sub-custom heading-size-{{ block.icon-sub_size }}">{{ img-3_sub }}</p>
</div>
</div>