
 
        {% if product.metafields.custom.icon_benefits_1 != blank %}
   
    
    
    <div class="metafield-icons_container">

    


<div class="metafield-icon_container">
  {% if product.metafields.custom.icon_benefits_1 != blank %}
    <img src="{{ product.metafields.custom.icon_benefits_1 | file_url }}" alt="Just text" height="25px" width="25px">
  {% else %}
    {%- render 'image' placeholder: 'image' -%}
  {% endif %}
    <p class="metafield-icons_text">{{ product.metafields.custom.icon_benefit_1_description }}</p>
</div>
<div class="metafield-icon_container">
  {% if product.metafields.custom.icon_benefits_2 != blank %}
    <img src="{{ product.metafields.custom.icon_benefit_2 | file_url }}" alt="Just text" height="25px" width="25px">
  {% else %}
    {%- render 'image' placeholder: 'image' -%}
  {% endif %}
    <p class="metafield-icons_text">{{ product.metafields.custom.icon_benefit_2_description }}</p>
</div>
   <div class="metafield-icon_container">
  {% if product.metafields.custom.icon_benefits_3 != blank %}
       <img src="{{ product.metafields.custom.icon_benefit_3 | file_url }}" alt="Just text" height="25px" width="25px">
  {% else %}
    {%- render 'image' placeholder: 'image' -%}
  {% endif %}
       <p class="metafield-icons_text">{{ product.metafields.custom.icon_benefit_3_description }}</p>
</div>

</div>    
 {% endif %}