{%- liquid
  assign desktop_height = section.settings.height
  assign mobile_height = section.settings.mobile_height
  assign width = section.settings.width
  
  assign animation_anchor = '#CompareSection--' | append: section.id
  assign animation_order = 0
  assign bg_color = section.settings.bg_color
  assign bg_color_transparent = bg_color | color_modify: 'alpha', 0
  assign text_color = section.settings.color

  capture style
    echo '--PT: ' | append: section.settings.padding_top | append: 'px;'
    echo '--PB: ' | append: section.settings.padding_bottom | append: 'px;'
    echo '--outer: ' | append: section.settings.padding_lr | append: ' px;'

    unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank
      echo '--bg: ' | append: bg_color | append: ';'
      echo '--bg-transparent: ' | append: bg_color_transparent | append: ';'
    endunless

    unless text_color == 'rgba(0,0,0,0)' or text_color == blank
      assign text_light = text_color | color_mix: settings.bg_color, 70
      assign text_dark = text_color | color_saturate: 10 | color_darken: 15
      echo '--text: ' | append: text_color | append: ';'
      echo '--text-light: ' | append: text_light | append: ';'
      echo '--text-dark: ' | append: text_dark | append: ';'
    endunless
  endcapture

  assign figure_width_class = ''
  if table_width == 'three-quarters'
    assign figure_width_class = ' table__block--three-quarters'
  endif
  
  capture alignment
    if section.settings.text_alignment == 'text-left'
      echo ' align--middle-left'
    else
      echo ' align--middle-center'
    endif
  endcapture
-%}
<style>
  #cd-table .cd-unchecked span,
  #cd-table .cd-checked span {
      display: block;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
  }
  #cd-table {
      position: relative;
      width: 90%;
      max-width: 1170px;
      margin: auto;
      font-size: 14px;
      font-size: 0.875rem;
  }
  #cd-table::after {
      content: "";
      display: table;
      clear: both;
  }
  #cd-table::before {
      content: "";
      position: absolute;
      top: 0;
      right: -1px;
      height: 100%;
      width: 35px;
      background: -webkit-linear-gradient(right, #FFF 10%, rgba(255, 255, 255, 0));
      background: linear-gradient(to left, #FFF 10%, rgba(255, 255, 255, 0));
      z-index: 5;
      pointer-events: none;
  }
  .no-cssgradients #cd-table::before {
      display: none;
  }
  #cd-table.table-end::before {
      display: none;
  }
  #cd-table .cd-table-container {
      position: relative;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
  }
  #cd-table .cd-table-wrapper {
      width: 870px;
      padding-left: 120px;
  }
  #cd-table .cd-table-column {
      width: 150px;
      float: left;
      margin-left: -1px;
  }
  #cd-table .cd-table-column ul {
      margin: 0;
  }
  #cd-table h2,
  #cd-table ul>li {
      position: relative;
      text-align: center;
      padding: 0 1em;
      height: 56px;
      line-height: 56px;
      background-color: #FFF;
      margin: 0;
  }
  #cd-table h2 {
      font-size: 14px;
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #121212;
  }
  #cd-table ul>li {
      color: #121212;
      list-style: none;
  }
  #cd-table header.cd-table-column {
      position: absolute;
      width: 120px;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 10;
      margin-left: 0;
      pointer-events: none;
  }
  .cd-table-wrapper .cd-table-column:nth-child(odd),
  #cd-table .cd-table-column li:nth-child(odd) {
      background: rgba(0, 0, 0, 0.025);
  }
  #cd-table header.cd-table-column h2,
  #cd-table header.cd-table-column li {
      background-color: transparent;
      text-align: left;
      color: #121212;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  #cd-table header.cd-table-column h2 {
      color: #121212;
  }
  #cd-table .cd-scroll-right {
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -8px;
      background: url("https://svgshare.com/i/NEg.svg") no-repeat center center;
      z-index: 6;
      -webkit-animation: cd-scroll-right 1.5s infinite;
      -moz-animation: cd-scroll-right 1.5s infinite;
      animation: cd-scroll-right 1.5s infinite;
  }
  @media only screen and (min-width: 870px) {
      #cd-table {
          border-right: none;
      }
      #cd-table::before {
          display: none;
      }
      #cd-table .cd-table-wrapper {
          width: 100%;
          padding-left: 25%;
      }
      #cd-table .cd-table-column {
          width: 33.33%;
          float: left;
      }
      #cd-table header.cd-table-column {
          width: 25%;
          float: left;
          box-shadow: none;
          pointer-events: auto;
      }
      #cd-table .cd-scroll-right {
          display: none;
      }
  }
  @-webkit-keyframes cd-scroll-right {
      0%,
      100% {
          -webkit-transform: translateX(0);
      }
      50% {
          -webkit-transform: translateX(3px);
      }
  }
  
  @-moz-keyframes cd-scroll-right {
      0%,
      100% {
          -moz-transform: translateX(0);
      }
      50% {
          -moz-transform: translateX(3px);
      }
  }
  
  @keyframes cd-scroll-right {
      0%,
      100% {
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0);
      }
      50% {
          -webkit-transform: translateX(3px);
          -moz-transform: translateX(3px);
          -ms-transform: translateX(3px);
          -o-transform: translateX(3px);
          transform: translateX(3px);
      }
  }
  .comparision-system {
      display: flex;
      padding-top: var(--PT);
      padding-bottom: var(--PB);
  }
  .comparision-wrapper {
      display: flex;
  }
  .comparision-text {
      flex: 25%;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .comparision-text .caption-text {
      margin-bottom: 0;
      text-transform: uppercase;
  }
  .comparision-text .heading-text {
      margin-top: 0;
  }
  header.cd-table-column .header-row svg {
      opacity: 0;
      visibility: hidden;
  }
  .header-row {
      min-height: 10rem;
      display: flex;
      flex-direction: column;
  }
  .header-row img,
  .header-row svg {
      max-height: 8rem;
      margin: 0 auto;
  }
  .comparision-details-text {
      margin-bottom: 2rem;
  }
</style>

<section 
  class="comparision-system"
  id="ComparisionSection--{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="comparision"
  class="index-comparision section-padding {{ section.settings.text_alignment }} {{ desktop_height }} {{ mobile_height }}"
  style="{{ style }}"
  >
  {% capture popup_content %}
  <div class="{{ width }}">
    <div class="comparision-wrapper">
      <div class="comparision-text">
        <div class="comparision-heading">
          <p class="caption-text">Level Guide</p>
          <h3 class="heading-text">Compare our Systems</h3>
        </div>
        <div class="comparision-details">
          <div class="comparision-details-text">
            <h4 class="sub-heading-text">Unsure which system is right for you?</h4>
            <p>
              Different strokes for different folks and different skin care regimen for different men. Take our 1-minute quiz
              to figure out which formulated system is perfect for you and your face.
            </p>
          </div>
          <a href="#" class="btn btn--secondary btn--solid">Take our Quiz</a>
        </div>
      </div>
      <div class="comparision-table {{ table_width }}" id="cd-table">
        <header class="cd-table-column">
          <div class="header-row">
            {{ 'product-1' | placeholder_svg_tag }}
            <h2>&nbsp;</h2>
          </div>
          <ul>
            <li>Storage</li>
            <li>People</li>
            <li>Free trial</li>
            <li>Support</li>
            <li>Price</li>
          </ul>
        </header>
        <div class="cd-table-container">
          <div class="cd-table-wrapper">
            <div class="cd-table-column">
              <div class="header-row">
                {{ 'product-1' | placeholder_svg_tag }}
                <h2>Plan 1</h2>
              </div>
              <ul>
                <li>1 GB</li>
                <li>2</li>
                <li>30 days</li>
                <li class="cd-unchecked"><span>No</span></li>
                <li>$9.99</li>
              </ul>
            </div>
    
            <div class="cd-table-column">
              <div class="header-row">
                {{ 'product-1' | placeholder_svg_tag }}
                <h2>Plan 2</h2>
              </div>
              <ul>
                <li>2 GB</li>
                <li>5</li>
                <li>30 days</li>
                <li class="cd-unchecked"><span>No</span></li>
                <li>$19.99</li>
              </ul>
            </div>
    
            <div class="cd-table-column">
              <div class="header-row">
                {{ 'product-1' | placeholder_svg_tag }}
                <h2>Plan 3</h2>
              </div>
              <ul>
                <li>5 GB</li>
                <li>10</li>
                <li>30 days</li>
                <li class="cd-checked"><span>Yes</span></li>
                <li>$29.99</li>
              </ul>
            </div>
          </div>
        </div>
        <em class="cd-scroll-right"></em>
      </div>
    </div>
  </div>
  {% endcapture %}
  {{ popup_content }}
</section>
<product-modal class="product__block block-padding" style=" --block-padding-bottom: 30px;">
  <div class="product__icon__container product__icon__container--full">
    <a class="radio__legend__link text-link" data-popup-open {{ section.shopify_attributes }}>
      Compare our Systems
    </a>
  </div>

  <dialog class="product-modal" aria-hidden="true" inert data-scroll-lock-required>
    <form method="dialog">
      <button class="visually-hidden no-js" aria-label="{{ 'general.accessibility.close' | t }}"></button>
    </form>

    <div style='max-width: 1000px' class="product-modal__outer prod-modal__container">
      <div class="product-modal__content small product-modal__container" data-scroll-lock-scrollable>
        <button type="button" class="product-modal__close" data-popup-close autofocus aria-label="{{ 'general.accessibility.close' | t }}">
          {%- render 'icon-cancel' -%}
        </button>
        {{ popup_content }}
      </div>
    </div>
  </dialog>
</product-modal>
{{ 'https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js' | script_tag }}
{{ 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
<script>
    jQuery(document).ready(function($){
  	var $columns_number = $('#cd-table .cd-table-container').find('.cd-table-column').length;

  	$('.cd-table-container').on('scroll', function(){
  		$this = $(this);
  		//hide the arrow on scrolling
  		if( $this.scrollLeft() > 0 ) {
  			$('.cd-scroll-right').hide();
  		}
  		//remove color gradient when table has scrolled to the end
  		var total_table_width = parseInt($('.cd-table-wrapper').css('width').replace('px', '')),
  			table_viewport = parseInt($('#cd-table').css('width').replace('px', ''));

  		if( $this.scrollLeft() >= total_table_width - table_viewport - $columns_number) {
  			$('#cd-table').addClass('table-end');
  		} else {
  			$('#cd-table').removeClass('table-end');
  		}
  	});

  	//scroll the table (scroll value equal to column width) when clicking on the .cd-scroll-right arrow
   	$('.cd-scroll-right').on('click', function(){
   		$this= $(this);
   		var column_width = $(this).siblings('.cd-table-container').find('.cd-table-column').eq(0).css('width').replace('px', ''),
   			new_left_scroll = parseInt($('.cd-table-container').scrollLeft()) + parseInt(column_width);

   		$('.cd-table-container').animate( {scrollLeft: new_left_scroll}, 200 );
   		$this.hide();
   	});
  });
</script>

{% schema %}
{
  "name": "Compare Systems - Tiege",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Desktop height",
      "default": "screen-height-three-quarters",
      "options": [
        { "value": "screen-height-full", "label": "Full screen height"},
        { "value": "screen-height-three-quarters", "label": "3/4 of screen"},
        { "value": "screen-height-two-thirds", "label": "2/3 of screen"},
        { "value": "screen-height-one-half", "label": "1/2 of screen"},
        { "value": "screen-height-one-third", "label": "1/3 of screen"},
        { "value": "seven-fifty-height-hero", "label": "750px" },
        { "value": "sixty-fifty-height-hero", "label": "650px" },
        { "value": "five-fifty-height-hero", "label": "550px" },
        { "value": "four-fifty-height-hero", "label": "450px" }
      ]
    },
    {
      "type": "select",
      "id": "mobile_height",
      "label": "Mobile height",
      "default": "screen-height-one-half--mobile",
      "options": [
        { "value": "screen-height-full--mobile", "label": "Full screen height"},
        { "value": "screen-height-three-quarters--mobile", "label": "3/4 of screen"},
        { "value": "screen-height-two-thirds--mobile", "label": "2/3 of screen"},
        { "value": "screen-height-one-half--mobile", "label": "1/2 of screen"},
        { "value": "screen-height-one-third--mobile", "label": "1/3 of screen"},
        { "value": "seven-fifty-height-hero--mobile", "label": "750px" },
        { "value": "sixty-fifty-height-hero--mobile", "label": "650px" },
        { "value": "five-fifty-height-hero--mobile", "label": "550px" },
        { "value": "four-fifty-height-hero--mobile", "label": "450px" }
      ]
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper--full",
      "options": [
        {"value": "wrapper--full", "label": "Full width"},
        {"value": "wrapper--full-padded", "label": "Full width padded"},
        {"value": "wrapper", "label": "Normal"}
      ]
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Alignment",
      "default": "text-left",
      "options": [
        {"value": "text-left","label": "Left"},
        {"value": "text-center","label": "Centered"}
      ]
    },
    {
      "type": "range",
      "id": "padding_lr",
      "min": 0,
      "max": 125,
      "step": 5,
      "unit": "px",
      "label": "Padding Left/Right",
      "default": 50
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Compare Our Systems"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "Caption",
      "default": "Level Guide"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Heading",
      "default": "Level Guide"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Lorem Ipsum</p>"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Link Text",
      "default": "Take our Quiz"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label" : "Link URL"
    },
    {
      "type": "header",
      "content": "Properties"
    },
    {
      "type":"text",
      "id" : "items_detail",
      "label" : "Comparables",
      "default": "Wash,Scrub,AM,PM,Eyes,Serum",
      "info": "Please add a comma seperated list of properties to compare"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Product Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Level 1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "properties",
          "label": "Properties",
          "default": "Yes,Yes,Yes,No,No",
          "info": "Info for text item"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Compare Systems - Tiege",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "aside", "footer"]
  }
}
{% endschema %}