<!-- /sections/section-rich-text.liquid -->
{%- liquid
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.color
  assign animation_anchor = '#Rte--' | append: section.id
  assign animation_order = 0
-%}

{%- style -%}
  #Rte--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;

    {%- unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank -%}
      --bg: {{ bg_color }};
    {%- endunless -%}

    {%- unless text_color == 'rgba(0,0,0,0)' or text_color == blank -%}
      --text: {{ text_color }};
    {%- endunless -%}
  }
{%- endstyle -%}

<section id="Rte--{{ section.id }}"
  class="index-rte section-padding"
  data-section-id="{{ section.id }}"
  data-section-type="rich-text">
  {%- if section.blocks.size > 0 -%}
    <div class="hero__content__wrapper {{ section.settings.align_text }} {{ section.settings.width }}">
      <div class="hero__content hero__content--compact">
        {%- for block in section.blocks -%}
          {%- liquid
            capture block_style
              echo 'style="'
              echo '--block-padding-bottom:' | append: block.settings.padding_bottom | append: 'px;'
              echo '"'
            endcapture
          -%}

          {%- case block.type -%}
            {% when '2columns'%}
            {% liquid
            assign title1 = block.settings.title1
            assign title2 = block.settings.title2
            assign font_size_class = block.settings.heading_size | prepend: 'heading-size-'
            assign text1 = block.settings.text1
            assign text2 = block.settings.text2
            assign subheading_size_class = block.settings.text_size | prepend: 'subheading-size-'
            %}
            <div>
            <div>
            <div>
            <p class='{{ font_size_class }}'>{{ title1 }}</p>
            <p class='{{ subheading_size_class }}'>{{ text1 }}</p>
            </div>
            <div>
            <p class='{{ font_size_class }}'>{{ title2 }}</p>
            <p class='{{ subheading_size_class }}'>{{ text2 }}</p>
            </div>
            </div>
            
            
            </div>
            {%- when 'heading' -%}
              {%- if block.settings.title != blank -%}
                {%- assign animation_order = animation_order | plus: 1 -%}
                {%- assign font_size_class = block.settings.text_size | prepend: 'heading-size-' -%}
                <h2 class="hero__title {{ font_size_class }} block-padding"
                  data-aos="hero"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-order="{{ animation_order }}"
                  {{ block.shopify_attributes }}
                  {{ block_style }}
                >
                  {{ block.settings.title }}
                </h2>
              {%- endif -%}

            {%- when 'subheading' -%}
              {%- if block.settings.subheading != blank -%}
                {%- assign animation_order = animation_order | plus: 1 -%}
                {%- assign font_size_class = block.settings.text_size | prepend: 'subheading-size-' -%}
                <p class="hero__subheading {{ font_size_class }} block-padding"
                  data-aos="hero"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-order="{{ animation_order }}"
                  {{ block.shopify_attributes }}
                  {{ block_style }}
                >
                  {{ block.settings.subheading }}
                </p>
              {%- endif -%}

            {%- when 'text' -%}
              {%- if block.settings.text != blank -%}
                {%- assign animation_order = animation_order | plus: 1 -%}
                {%- assign font_size_class = block.settings.text_size | prepend: 'body-size-' -%}
                <div class="hero__rte {{ font_size_class }} {{ block.settings.text_style }} block-padding"
                  data-aos="hero"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-order="{{ animation_order }}"
                  {{ block.shopify_attributes }}
                  {{ block_style }}
                >
                  {{ block.settings.text }}
                </div>
              {%- endif -%}

            {%- when 'columns' -%}
              {%- if block.settings.text != blank -%}
                {%- assign animation_order = animation_order | plus: 1 -%}
                {%- assign font_size_class = block.settings.text_size | prepend: 'body-size-' -%}
                {%- assign text_columns_class = block.settings.text_columns | prepend: 'columns--' -%}
                <div class="hero__rte {{ font_size_class }} {{ text_columns_class }} {{ block.settings.text_style }} block-padding"
                  data-aos="hero"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-order="{{ animation_order }}"
                  {{ block.shopify_attributes }}
                  {{ block_style }}
                >
                  {{ block.settings.text }}
                </div>
              {%- endif -%}

            {%- when 'image' -%}
              {%- liquid
                assign animation_order = animation_order | plus: 1
                assign image_width_percent = block.settings.image_width
                assign image_width_ratio = image_width_percent | times: 0.01

                capture block_style
                  echo 'style="'
                  echo '--block-padding-bottom:' | append: block.settings.padding_bottom | append: 'px;'
                  echo 'width: ' | append: image_width_percent | append: '%'
                  echo '"'
                endcapture

                capture sizes
                  assign image_size_mobile = 'calc((100vw - 32px) * ' | append: image_width_ratio | append: ')'

                  case section.settings.width
                    when 'wrapper--full-padded'
                      assign image_size_desktop = 'calc(100vw - 100px * ' | append: image_width_ratio | append: ')'
                    when 'wrapper'
                      assign image_size_desktop = 'calc(80vw * ' | append: image_width_ratio | append: ')'
                    when 'wrapper--narrow'
                      assign image_size_desktop = 'calc(670px * ' | append: image_width_ratio | append: ')'
                  endcase

                  echo '(min-width: 750px) ' | append: image_size_desktop | append: ', ' | append: image_size_mobile
                endcapture
              -%}

              <div class="hero__media block-padding"
                data-aos="hero"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-order="{{ animation_order }}"
                {{ block.shopify_attributes }}
                {{ block_style }}
              >
                {%- render 'image' image: block.settings.image, sizes: sizes -%}
              </div>

            {%- when 'buttons' -%}
              {%- liquid
                assign button_style = block.settings.button_style
                if button_style == 'btn--text' and block.settings.show_arrow
                  assign button_style = button_style | append: ' btn--text-no-underline'
                endif
              -%}

              {%- if block.settings.button_text != blank -%}
                {%- liquid
                  assign prev_index = forloop.index0 | minus: 1
                  assign next_index = forloop.index0 | plus: 1
                  assign prev_block = section.blocks[prev_index]
                  assign next_block = section.blocks[next_index]
                  assign animation_order = animation_order | plus: 1
                -%}
                {%- if next_block.type == 'buttons' and forloop.index0 == 0 or prev_block.type != 'buttons' and next_index != section.blocks.size and next_block.type == 'buttons' -%}
                  <div class="hero__button-group">
                {%- endif -%}

                <div class="hero__button block-padding"
                  data-aos="hero"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-order="{{ animation_order }}"
                  {{ block.shopify_attributes }}
                  {{ block_style }}
                >
                  <a href="{{ block.settings.button_url | default: '#!' }}" class="btn {{ button_style }} {{ block.settings.button_size }} {{ block.settings.button_type }}">
                    <span>{{ block.settings.button_text }}</span>

                    {%- if block.settings.show_arrow -%}
                      {%- render 'icon-arrow-right' -%}
                    {%- endif -%}
                  </a>
                </div>

                {%- if prev_block.type == 'buttons' and next_block.type != 'buttons' and prev_index != -1 or forloop.index == section.blocks.size and prev_block.type == 'buttons' and prev_index != -1 -%}
                  </div>
                {%- endif -%}
              {%- endif -%}

            {%- when 'divider' -%}
              {%- assign animation_order = animation_order | plus: 1 -%}
              {%- capture attributes -%}
                data-aos="hero"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-order="{{ animation_order }}"
              {%- endcapture -%}

              {%- render 'divider' block: block, attributes: attributes -%}


            {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
    {%- for block in section.blocks -%}
    {% case block.type %}
    {% when 'memberboxes' %}
    
      <div class="member-tiers-wrapper-custom level-guide-member-tiers-wrapper-custom">
        <div class='member-container-custom-desktop'>
            {% comment %}
              Block 1
            {% endcomment %}
            <div class="member-tiers_container level-guide-member-tiers_container">
                <div style="background-color: #f0f0f0" class="member-single-tier_container level-guide-member-single-tier_container">
                    <div class="member-tier_text">
                        <p class="m-0 member-tier-header_text heading-size-{{ block.settings.pop-heading_size }}">{{ block.settings.box-1_text }}</p>
                        <p class="m-0 member-tier-header_text">Month 1-6</p>
                    </div>
                    <div class="member-tier_text member-tier_secondary_text">
                        <p class='m-0'>{{ block.settings.box-1_gifts }}</p>
                    </div>
                </div>
                <div>
                  <p class='level-guide-member-single-tier_text'>{{ block.settings.box-1_description }}</p>
                </div>
            </div >
            {% comment %}
              Block 2
            {% endcomment %}
            <div class="member-tiers_container level-guide-member-tiers_container">
                <div style="background-color: #B3B3B3" class="member-single-tier_container level-guide-member-single-tier_container">
                    <div class="member-tier_text">
                        <p  class="m-0 heading-size-{{ block.settings.pop-heading_size }}">{{ block.settings.box-2_text }}</p>
                        <p class="m-0">Month 7-12</p>
                    </div>
                    <div class="member-tier_text member-tier_secondary_text">
                        <p class="m-0">{{ block.settings.box-2_gifts }}</p>
                    </div>
                </div>
                <div>
                  <p class='level-guide-member-single-tier_text'>{{ block.settings.box-2_description }}</p>
                </div>
            </div>
            {% comment %}
              Block 3
            {% endcomment %}
            <div class="member-tiers_container level-guide-member-tiers_container">
                <div style="background-color: #000" class="member-single-tier_container level-guide-member-single-tier_container">
                    <div style="color: white !important;" class="member-tier_text">
                        <p class="m-0 heading-size-{{ block.settings.pop-heading_size }}">{{ block.settings.box-3_text }}</p>
                        <p class="m-0">After 12 Months</p>
                    </div>
                    <div style="color: white !important;" class="member-tier_text member-tier_secondary_text">
                        <p class="m-0">{{ block.settings.box-3_gifts }}</p>
                    </div>
                </div>
                <div class='level-guide-member-single-tier_text'>
                  <p>{{ block.settings.box-3_description }}</p>
                </div>
            </div>
        </div>
    
        
    </div>
  {% endcase %}
{%- endfor -%}
  {%- else -%}
    {%- render 'no-blocks' -%}
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Rich text",
  "settings": [
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        {"value": "wrapper--full-padded", "label": "Full width padded"},
        {"value": "wrapper", "label": "Normal"},
        {"value": "wrapper--narrow", "label": "Narrow"}
      ]
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Text alignment",
      "default": "text-left",
      "options": [
        {"value": "text-left","label": "Left"},
        {"value": "text-center","label": "Centered"}
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Rich text"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text size",
          "min": 1,
          "max": 15,
          "step": 1,
          "default": 8
        },
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Padding bottom",
          "default": 16
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Introducing"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text size",
          "min": 1,
          "max": 15,
          "step": 1,
          "default": 3
        },
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Padding bottom",
          "default": 16
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text size",
          "min": 1,
          "max": 15,
          "step": 1,
          "default": 4
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Text style",
          "default": "font-body",
          "options": [
            {"value": "font-heading", "label": "Heading"},
            {"value": "font-body", "label": "Body"}
          ]
        },
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Padding bottom",
          "default": 16
        }
      ]
    },
    {
      "type": "columns",
      "name": "Columns",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "range",
          "id": "text_columns",
          "label": "Columns",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 2,
          "info": "Desktop only"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text size",
          "min": 1,
          "max": 15,
          "step": 1,
          "default": 4
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Text style",
          "default": "font-body",
          "options": [
            {"value": "font-heading", "label": "Heading"},
            {"value": "font-body", "label": "Body"}
          ]
        },
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Padding bottom",
          "default": 16
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Text",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Color",
          "default": "btn--primary",
          "options": [
            {"value": "btn--primary", "label": "Primary"},
            {"value": "btn--secondary", "label": "Secondary"},
            {"value": "btn--white", "label": "White"},
            {"value": "btn--black", "label": "Black"}
          ]
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Size",
          "default": "",
          "options": [
            { "label": "Small", "value": "btn--small" },
            { "label": "Medium", "value": "" },
            { "label": "Large", "value": "btn--large" }
          ]
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "btn--solid",
          "options": [
            { "label": "Solid", "value": "btn--solid" },
            { "label": "Outline", "value": "btn--outline" },
            { "label": "Text", "value": "btn--text" }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_arrow",
          "label": "Show arrow",
          "default": false
        },
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Padding bottom",
          "default": 16
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 10,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Width",
          "default": 20
        },
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Padding bottom",
          "default": 16
        }
      ]
    },
    {
      "type": "divider",
      "name": "Divider",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_line",
          "label": "Show line",
          "default": true
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Padding bottom",
          "default": 20
        }
      ]
    },
    {
      "type": "2Columns",
      "name": "2 Column",
      "settings": [
        {
          "type": "text",
          "id": "title1",
          "label": "Heading",
          "default": "Rich text"
        },
        {
          "type": "range",
          "id": "heading_size",
          "label": "Heading size",
          "min": 1,
          "max": 15,
          "step": 1,
          "default": 8
        },
        {
          "type": "richtext",
          "id": "text1",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text size",
          "min": 1,
          "max": 15,
          "step": 1,
          "default": 4
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Text style",
          "default": "font-body",
          "options": [
            {"value": "font-heading", "label": "Heading"},
            {"value": "font-body", "label": "Body"}
          ]
        },
        {
          "type": "text",
          "id": "title2",
          "label": "Heading",
          "default": "Rich text"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "header",
          "content": "Block spacing"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Padding bottom",
          "default": 16
        }
      ]
    },
    {"type": "memberboxes",
  "name": "Member Boxes",
"settings": [
      {
            "type": "range",
            "id": "pop-heading_size",
            "label": "Heading size",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 6
          },

      {
        "type": "text",
        "id": "box-1_text",
        "label": "Tier 1 Heading",
        "default": "Member"
      },
      {
        "type": "text",
        "id": "box-1_gifts",
        "label": "Tier 1 Gifts",
        "default": "3 Routine-building Gifts"
      },
      {
        "type": "textarea",
        "id": "box-1_description",
        "label": "Tier 1 Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      },
      {
        "type": "text",
        "id": "box-2_text",
        "label": "Tier 2 Heading",
        "default": "VIP Member"
      },
      {
        "type": "text",
        "id": "box-2_gifts",
        "label": "Tier 2 Gifts",
        "default": "3 VIP Gifts, 1 Premium Gift"
      },
      {
        "type": "textarea",
        "id": "box-2_description",
        "label": "Tier 2 Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      },
      {
        "type": "text",
        "id": "box-3_text",
        "label": "Tier 3 Heading",
        "default": "Emerald VIP"
      },
      {
        "type": "text",
        "id": "box-3_gifts",
        "label": "Tier 3 Gifts",
        "default": "10% off every order, 2 Premium Gifts per year"
      },
      {
        "type": "textarea",
        "id": "box-3_description",
        "label": "Tier 3 Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      }
]}
  ],
  "presets": [
    {
      "name": "Rich text",
      "category": "Text",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "aside", "footer"]
  }
}
{% endschema %}
