
<div class='wrapper--narrow'>
  
  <div class='link-tabs__container'>
    <div class='link-tabs__tab'>
      <a href='{{ section.settings.tab1_url }}'>
      <span class='heading-size-{{ section.settings.heading_size }}' >{{ section.settings.tab1 }}</span>
      </a>
    </div>
    <div  class='link-tabs__tab'>
      <a href='{{ section.settings.tab2_url }}'>
      <span class='heading-size-{{ section.settings.heading_size }}'>{{ section.settings.tab2 }}</span>
      </a>
    </div>
    <div  class='link-tabs__tab'>
      <a href='{{ section.settings.tab3_url }}'>
      <span class='heading-size-{{ section.settings.heading_size }}'>{{ section.settings.tab3 }}</span>
      </a>
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "Link Tabs - Tiege",
    "settings": [
            {
            "type": "range",
            "id": "heading_size",
            "label": "Heading size",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 5
          },
      {
      "type": "text",
      "id": "tab1",
      "label": "Tab 1",
        "default": "Open Positions"
    },
       {
          "type": "text",
          "id": "tab1_url",
          "label": "Element ID"
        },
      {
      "type": "text",
      "id": "tab2",
      "label": "Tab 2",
        "default": "Benefits"
    },
            {
          "type": "text",
          "id": "tab2_url",
          "label": "Element ID"
        },
      {
      "type": "text",
      "id": "tab3",
      "label": "Tab 3",
        "default": "Culture"
    },
            {
          "type": "text",
          "id": "tab3_url",
          "label": "Element ID"
        }
    ],
    "presets": [
      {
      "name": "Link Tabs - Tiege"
      
      }
      ]
    
  }
{% endschema %}